.msg-container {
  min-height: 91vh;
  background: white;
}

.msg-container .conversations {
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #ebedf1;
  min-width: 385px;
  -webkit-box-flex: 0.5;
  -ms-flex: 0.5 0 0;
  flex: 0.5 0 0;
  height: auto;
  overflow: auto;
  max-width: 440px;
  padding-bottom: 3.75rem;
  padding-top: 18px;
  height: 90vh;
  overflow-x: hidden;
}
.avatar-image:hover {
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25);
}

@media only screen and (min-device-width: 374px) and (max-device-width: 400px) and (-webkit-device-pixel-ratio: 3) {
  .messages .conversations {
    min-width: 375px;
  }
}

.conversations .task-search-box {
  margin-left: 6px;
  width: 97%;
}

.conversations .action-box {
  border-bottom: 1px solid #ebedf1;
  padding-bottom: 5px;
  padding-top: 5px;
}

.left-pane-title {
  padding-left: 12px;
  padding-top: 15px;
}

.convo-card {
  height: 95px;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  padding-left: 1.25rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: box-shadow 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    border 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: box-shadow 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.convo-card .avatar {
  height: 3.75rem;
  width: 3.75rem;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.convo-card:hover {
  background-color: rgba(113, 111, 134, 0.5);
  cursor: pointer;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px -1px #b2bac5;
  box-shadow: 0 1px 6px -1px #b2bac5;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.avatar {
  border-radius: 50%;
  display: block;
  position: relative;
  width: 3.125rem;
  background-size: 100%;
}

.avatar-image {
  background: center no-repeat;
  background-size: cover;
  border-radius: 50% !important;
  display: block;
  /* padding-top: 15%; */
  position: relative;
  width: 44px;
  margin-top: 8px;
}

.convo-card .personal-info {
  margin-left: 15px;
  -ms-flex-negative: 2;
  flex-shrink: 2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  height: 100%;
  border-bottom: 1px solid #ebedf1;
}

.convo-card .personal-info .name {
  font-size: 1rem;
  color: #000;
  color: initial;
  font-weight: 500;
}

.convo-card .personal-info .lastmsg {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.date-icon-block {
  height: 100%;
  font-size: 0.9375rem;
  margin: 0;
  padding-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 1px solid #ebedf1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  margin: 0px;
  font-size: 11px;
  -webkit-transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.date-icon-block .date {
  color: #9c9c9c;
  white-space: nowrap;
}
