.explore-container {
  max-width: 64.5rem;
  margin-top: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #493e85;
  border-color: #493e85;
}

.task-search-box {
  font-size: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 3.125rem;
}

.dt-description {
  font-size: 13px;
  border: #efefef solid 1px;
  border-radius: 3px;
  background: #fcfcff;
}

.dt-modal .dt-loading {
  min-height: 300px;
}

.search-container {
  background: #fff;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.3125rem;
  margin-bottom: 0.625rem;
  position: relative;
  width: 100%;
}

.search-container:before {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.3125rem;
  content: '';
}

.search-container:before {
  z-index: 8;
  content: '';
  background-color: #033443;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAABB0lEQVQ4jdXTv0rDUBQH4C8q6iZCB3V06tQu7oI+gJuCezeHdlUKfRBdBQVnNx9ARIfOxToKDqIg+LcdbgpVae6tuPRAuIEcvpyE32FSq4JDdPGGe5xjG9k4UIYWPnGNfexiD2f4wAVKqWALr6iNmKSKDi4xH8Mq+WS1SN8qHtGMgUfCZ6b8oyYeMFPU1MVBAgZl9LD288HU0P0S7hLB2/xcKQKfsZAILubnUxF4hY1EcFOI0E1R007eVI1gc2jjNPbWTAhtR4jGKOwYLwU936okhHaQszJmsSxsTDvHvtBIAQkbMMhZb+h6x0k+WWNcFKaFnG1h3e8E/AmN1QCt/ydaF7ZsQqoPxhA4y5kPLhAAAAAASUVORK5CYII=')
    1rem 50% no-repeat;
  width: 3.125rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.search-container:after {
  border: 1px solid #d6dae0;
  opacity: 1;
}

.task-list-section {
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
  overflow: hidden;
  border-radius: 0.3125rem;
  border: 1px solid #d6dae0;
  background: #fff;
  -webkit-transition: all 125ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 125ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.task-list-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.9375rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  color: #788699;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-list-container {
  display: grid;
  grid-template: auto/1fr [end];
  grid-gap: 0.9375rem;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media only screen and (min-width: 32em) {
  .task-list-container {
    grid-template: auto/repeat(2, 1fr) [end];
  }
}

@media only screen and (min-width: 48em) {
  .task-list-container {
    grid-template: auto/repeat(3, 1fr) [end];
  }
}

.feed-card {
  width: 100%;
  margin: 0;
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
  overflow: hidden;
  border-radius: 0.3125rem;
  border: 1px solid #d6dae0;
  background: #fff;
  -webkit-transition: all 125ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 125ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.how-it-works-card {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  min-height: 16.0625rem;
  background: #d00865;
  background: center no-repeat;
  background-size: cover;
  background-image: url(https://images.jumpstart.me/frontend/illustrations/feed/wave-card.svg);
}

.feed-card--how-it-works-header {
  color: #fff;
  width: 80%;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  font-weight: 500;
}

.find-out-button {
  color: rgb(255, 255, 255);
  border: none;
  -webkit-transition: color 125ms;
  transition: color 125ms;
  background: #873580;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.375rem 0.75rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.875rem;
  -webkit-transition: all 125ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 125ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.feed-card--how-it-works-body {
  color: #fff;
  margin-bottom: 25px;
}

.feed-card--header {
  font-size: 1.2rem;
  line-height: 1.375rem;
  font-weight: 500;
}

.up-headline {
  font-size: 12px;
  font-weight: 500;
  color: #898790;
  margin-bottom: 0px;
  margin-top: 20px;
}

.feed-card--applicants {
  margin-left: auto;
  font-size: 11px;
  font-weight: 500;
  color: #a09cb5;
  width: fit-content;
  float: right;
  margin-top: -16px;
}

.feed-card--container {
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 180px;
}

.feed-card--sep {
  background: #d6dae0;
  width: auto;
  width: initial;
  margin: 0.9375rem calc(-0.9375rem);
}

.feed-card-person-details {
  margin-top: 10px;
}
.feed-card-person-details,
.feed-card-person-details .from {
  font-size: 11px;
}

.feed-card-person-details .loc {
  font-size: 11px;
  color: #585858;
}
.feed-card--sep2 {
  width: 10px;
}
.skill-section {
  margin-top: 14px;
}
.skill-section .profile-skills {
  margin-right: 6px;
  margin-left: 0px;
}
.feed-card--category {
  font-size: 10px;
  background: #433881;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 6px;
  padding-right: 6px;
  float: left;
  color: white;
  border-radius: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.feed-card--points {
  background: #433881;
  color: white;
  width: 41px;
  font-weight: 500;
  padding: 2px 0px 4px 0px;
  text-align: center;
  border-radius: 7px;
  margin-left: auto;
  margin-top: 2.4px;
}

.feed-card--points .pts {
  display: block;
  font-size: 6px;
}
.fc-pts {
  font-size: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: 7px;
  margin-bottom: -45px;
}

.feed-card--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.feed-card--footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 0.75rem;
}

.feed-card--footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feed-card-learn-more {
  background: #fff;
  color: #433881;
  border: 1px solid #433881;
  -webkit-transition: color 0s;
  transition: color 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 7px;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 12px;
  -webkit-transition: all 125ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 125ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.feed-card-learn-more:hover {
  color: #fff;
  background: #433881;
}

.feed-card--footer-left .svg_icon {
  width: 16px;
  cursor: pointer;
}

.feed-card:hover {
  box-shadow: 0 0 11px #ddd9d9;
  cursor: pointer;
}

.dt-header .dt-sub-title {
  color: #727272;
  font-size: 11px;
  margin-bottom: -2px;
}

.dt-skills {
  margin-left: 0px !important;
  margin-right: 7px;
}

.dt-title {
  margin-bottom: 3px;
}

.dt-modal {
  max-width: 80%;
  -webkit-transition: all 125ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 125ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

@media (max-width: 576px) {
  .dt-modal {
    max-width: 100%;
  }
}

.dt-added-on {
  font-size: 9px;
  color: #788699;
  font-weight: 400;
}

.dt-body {
  /* padding-top: 0; */
  overflow-y: scroll;
  max-height: 68vh;
  min-height: 35vh;
  transition: min-height 0.7s linear;
}

.dt-body.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 74vh;
}

.dt-action-box {
  border-bottom: 1px solid #e9ecef;
  padding: 9px 15px;
}

.dt-points {
  font-weight: 500;
  color: #493e85;
}

.dt-action-btn {
  font-size: 14px;
  padding: 3px 8px;
}

.description-editor {
  padding: 0px;
}

.task-list-dashboard {
  grid-template: auto/1fr [end];
}

@media only screen and (min-width: 32em) {
  .task-list-dashboard {
    grid-template: auto/repeat(1, 1fr) [end];
  }
}

@media only screen and (min-width: 48em) {
  .task-list-dashboard {
    grid-template: auto/repeat(2, 1fr) [end];
  }
}
