html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

.mobile-menu {
  display: none !important;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #433881;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
  line-height: 1;
}
.lh-125 {
  line-height: 1.25;
}
.lh-150 {
  line-height: 1.5;
}

.logo {
  width: 130px;
  padding: 0px;
  margin-left: 18px;
}

.tb-navbar {
  background: white;
  box-shadow: 0px 2px 15px #0000001c;
}

.search-icon {
  width: 25px;
}

.search-button {
  padding: 6px;
  background: #433881;
  border-color: #433881;
  margin-left: -47px;
  border-radius: 0px 6px 6px 0px;
}

.search-button:hover {
  background: #5a4ca6;
  border-color: #5a4ca6;
}

.search-form {
  min-width: 16em;
  background: #43388105;
  transition: min-width ease 0.5s;
}

.search-form:focus {
  min-width: 28em;
}

.nav-icon {
  color: #433881;
  font-size: 18px;
  background: #43388108;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: background ease 0.5s;
}

.nav-icon:hover {
  background: #433881;
  color: white;
}

.nav-notif-badge {
  position: fixed;
  top: 12px;
  left: 94.2%;
  font-size: 9px;
  min-width: 15px;
}

.dropdown-menu {
  width: 250px;
}

.points-badge-dd {
  background: #e8e8e8;
  font-size: 15px;
  border-radius: 6px !important;
  background-color: #4338811a !important;
  float: right;
}

.nav-message {
  padding: 4px 9px 4px 9px;
}

.nav-message-badge {
  position: fixed;
  top: 12px;
  left: 91.2%;
  font-size: 9px;
  min-width: 15px;
}

.nav-user-dp {
  padding: 4px 10px 4px 10px;
}

.nav-user-dp2 {
  padding: 4px 10px 4px 10px;
}

.message-badge-2 {
  font-size: 10px;
  vertical-align: top;
  margin-left: -18px;
  min-width: 16px;
}

.nav-msg-icon {
  padding: 8px 9px 8px 9px;
}

.nav-notif-icon {
  padding: 8px 10px 8px 10px;
}

@media (max-width: 991.98px) {
  .search-icon {
    width: 25px;
    color: #433881;
    padding: 5px;
  }
  .search-bar {
    margin-top: 50px !important;
  }
  .search-form {
    min-width: 98.8%;
    background: #ffffffd4;
    transition: background ease 0.5s;
  }

  .search-form:focus {
    min-width: 98.8%;
  }

  .search-button {
    padding: 6px;
    background: white;
    border-color: #433881;
    margin-left: -41px;
    border-radius: 0px 6px 6px 0px;
    transition: background ease 0.5s;
  }
  .search-button:hover {
    padding: 6px;
    background: #ffffffd4;
  }

  .nav-message,
  .nav-notification,
  .nav-user-dp {
    display: none;
  }

  .dropdown-menu {
    top: 190px;
    left: 0%;
    width: 95%;
    align-items: center;
    align-self: center;
    align-items: center;
    margin: auto;
  }

  .mobile-menu {
    display: flex !important;
    margin-top: 20px !important;
  }

  .nav-icon {
    color: white;
    font-size: 18px;
    background: #5d51a4;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    transition: background ease 0.5s;
  }

  .nav-icon:hover {
    background: #433881;
    color: white;
  }
}

@media (max-width: 635px) {
  .search-button {
    margin-left: -39px;
  }
}

.nav-submenu > .nav-underline {
  background: #433881;
}

.nav-submenu > .nav-underline .active {
  color: #ffffff;
}

.nav-submenu > .nav-underline .nav-link {
  color: #ffffff;
}

.nav-submenu > .nav-underline .nav-link > .badge {
  color: #000000;
}

.points-submenu {
  font-weight: 400;
  background: white;
  color: #ff9800 !important;
  font-weight: 900;
  font-size: 22px !important;
  padding-top: 8px !important;
}

.tp-curr {
  font-size: 13px;
  vertical-align: text-top;
  margin-left: -6px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
.scrollable-menu::-webkit-scrollbar {
  width: 0.5em;
}

.scrollable-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scrollable-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 50px;
}

.message-dropdown-heading {
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px #0000001f;
}

/* 
BELOW IS THE LOGIN THEME
*/

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

.login-html,
.login-body {
  height: 100%;
}

.login-body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background: url('../inc/TaskbarterLogo/bg-tb-b.png') right bottom no-repeat,
    url('../inc/TaskbarterLogo/bg-tb-t.png'), #f5f5f5;
  background-attachment: fixed;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.login-logo {
  width: 250px;
}

.login-btn {
  background: #433881;
  border-color: #433881;
  transition: background ease 0.5s;
}

.login-btn:hover {
  background: #1d1938;
  border-color: #1d1938;
}

.login-btn:active {
  background: #433881 !important;
  border-color: #433881;
}

.login-links {
  color: #433881;
}

.login-links > a {
  color: #433881;
}

.text-muted > a {
  color: #433881;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

.landing-body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #172b4d;
  text-align: left;
  background-color: #fff;
  height: -webkit-fill-available;
}

header nav.navbar {
  background-color: rgb(67, 56, 129);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-sm {
  color: rgb(67, 56, 129);
  padding: 0.25rem 0.5rem;
  font-size: 1.09375rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.landing-logo {
  width: 130px;
}

#hero {
  background: linear-gradient(135deg, #433881, #51468e);
  height: -webkit-fill-available;
}

.pt-7,
.py-7 {
  padding-top: 7rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 5rem !important;
}

.mobile-menu {
  display: none !important;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #433881;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
  line-height: 1;
}
.lh-125 {
  line-height: 1.25;
}
.lh-150 {
  line-height: 1.5;
}

.logo {
  width: 130px;
  padding: 0px;
  margin-left: 18px;
}

.tb-navbar {
  background: white;
  box-shadow: 0px 2px 15px #0000001c;
}

.search-icon {
  width: 25px;
}

.search-button {
  padding: 6px;
  background: #433881;
  border-color: #433881;
  margin-left: -47px;
  border-radius: 0px 6px 6px 0px;
}

.search-button:hover {
  background: #5a4ca6;
  border-color: #5a4ca6;
}

.search-form {
  min-width: 16em;
  background: #43388105;
  transition: min-width ease 0.5s;
}

.search-form:focus {
  min-width: 28em;
}

.nav-icon {
  color: #433881;
  font-size: 18px;
  background: #43388108;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: background ease 0.5s;
}

.nav-icon:hover {
  background: #433881;
  color: white;
}

.nav-notif-badge {
  position: fixed;
  top: 12px;
  left: 94.2%;
  font-size: 9px;
  min-width: 15px;
}

.dropdown-menu {
  width: 250px;
}

.points-badge-dd {
  background: #e8e8e8;
  font-size: 15px;
  border-radius: 6px !important;
  background-color: #4338811a !important;
  float: right;
}

.nav-message {
  padding: 4px 9px 4px 9px;
}

.nav-message-badge {
  position: fixed;
  top: 12px;
  left: 91.2%;
  font-size: 9px;
  min-width: 15px;
}

.nav-user-dp {
  padding: 4px 10px 4px 10px;
}

.nav-user-dp2 {
  padding: 4px 10px 4px 10px;
}

.message-badge-2 {
  font-size: 10px;
  vertical-align: top;
  margin-left: -18px;
  min-width: 16px;
}

.nav-msg-icon {
  padding: 8px 9px 8px 9px;
}

.nav-notif-icon {
  padding: 8px 10px 8px 10px;
}

@media (max-width: 991.98px) {
  .search-icon {
    width: 25px;
    color: #433881;
    padding: 5px;
  }
  .search-bar {
    margin-top: 50px !important;
  }
  .search-form {
    min-width: 98.8%;
    background: #ffffffd4;
    transition: background ease 0.5s;
  }

  .search-form:focus {
    min-width: 98.8%;
  }

  .search-button {
    padding: 6px;
    background: white;
    border-color: #433881;
    margin-left: -41px;
    border-radius: 0px 6px 6px 0px;
    transition: background ease 0.5s;
  }
  .search-button:hover {
    padding: 6px;
    background: #ffffffd4;
  }

  .nav-message,
  .nav-notification,
  .nav-user-dp {
    display: none;
  }

  .dropdown-menu {
    top: 190px;
    left: 0%;
    width: 95%;
    align-items: center;
    align-self: center;
    align-items: center;
    margin: auto;
  }

  .mobile-menu {
    display: flex !important;
    margin-top: 20px !important;
  }

  .nav-icon {
    color: white;
    font-size: 18px;
    background: #5d51a4;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    transition: background ease 0.5s;
  }

  .nav-icon:hover {
    background: #433881;
    color: white;
  }
}

@media (max-width: 635px) {
  .search-button {
    margin-left: -39px;
  }
}

.nav-submenu > .nav-underline {
  background: #433881;
}

.nav-submenu > .nav-underline .active {
  color: #ffffff;
}

.nav-submenu > .nav-underline .nav-link {
  color: #ffffff;
}

.nav-submenu > .nav-underline .nav-link > .badge {
  color: #000000;
}

.points-submenu {
  font-weight: 400;
  background: white;
  color: #ff9800 !important;
  font-weight: 900;
  font-size: 22px !important;
  padding-top: 8px !important;
}

.tp-curr {
  font-size: 13px;
  vertical-align: text-top;
  margin-left: -6px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
.scrollable-menu::-webkit-scrollbar {
  width: 0.5em;
}

.scrollable-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scrollable-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 50px;
}

.message-dropdown-heading {
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px #0000001f;
}

.tasks-heading {
  font-weight: 600;
}

.task-entry {
  background: #433881;
  color: white;
  padding: 11px 11px 2px 11px;
  border-radius: 6px;
  position: relative;
  box-shadow: 1px 4px 5px #0000002e;
}

.task-date {
  text-align: right;
  font-size: 12px;
  color: #ffffffb3;
  margin-top: 4px;
}

.task-category {
  width: fit-content;
  font-size: 10px;
  background: #7d74b1;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  display: inline;
}

.task-points {
  background: #ffb549;
  padding: 2px 5px 2px 5px;
  font-weight: 700;
  border-radius: 3px;
  font-size: 13px;
  box-shadow: 2px 3px 8px #00000026;
  position: absolute;
  top: 11px;
  min-width: fit-content;
  right: 9px;
}
.task-points-curr {
  font-size: 8px;
  vertical-align: top;
  margin-left: -3px;
}

#task-statement {
  margin-right: 30px;
}

.nav-link-last {
  margin-right: auto;
}
